.blog {
  height: 1800px;
}
.sidebar input {
    width: 300px;
    height: 46px;
    margin-top: 150px;
    padding: 10px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #999797;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar h2{
    color: #1c1c1c;
    font-weight: 900;
    size: 20px;
    margin-bottom: 25px;
}
.sidebar .recent_item_text h4 {
    font-weight: 900;
    color: #333333;
    line-height: 20px;
    margin-bottom: 5px;
   font-size:16px;
}
.recent_item_button button {
    color: #4f4f4f;
    font-family: "Cairo", sans-serif; 
    border: none;
    font-size: 15px;
    background: #f5f5f5;
    display: inline-block;
    padding: 7px 26px 5px;
    margin-right: 6px;
    margin-bottom: 10px;
}
.recent a {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.recent_item_pic {
    margin: 10px;
    padding: 0;
}


.recent_item_text span {
    font-size: 12px;
}
.sidebar ul li:hover {
    color: #7fad39;
}
.recent-item-button h2 {
    color: #1c1c1c;
    font-weight: 900;
    margin-bottom: 25px;
}
.recent_item_text {
    margin-bottom: 25px;
}
.recent_item_text span {
    color: #4f4f4f;
}
.blog-item {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 370px;
    margin-top: -1100px;

}


.blog-item-text ul {
    list-style: none;
    padding: 0;
    color: #999797;
}

.blog-item-text ul li {
    display: inline;
    margin-right: 10px;
}

.blog-item-text h3 a {
    color: #000;
    text-decoration: none;
    font-weight: 900;
    
}

.blog-item-text p {
    color: #4f4f4f; 
}

.blog-btn {
    display: inline-block;
    font-size: 14px;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #b2b2b2;
    padding: 14px 20px 12px;
    border-radius: 25px;
    color: #4f4f4f;
}
.blog-btn:hover {
    background-color: #a9cb76;
    color: #4e4e4e;
    transition: all 0.5s ease;
}

.blog-item-2 {
    margin-top: 77px;
}
.blog-item-3 {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 370px;
    margin-top: -1150px;

}
.blog-item-4 {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 790px;
    margin-top: -1150px;

}
.blog-item-5 {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 370px;
    margin-top: -580px;

}
.blog-item-6 {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 790px;
    margin-top: -580px;

}
.numbers {
   margin-bottom: 20px;
    position: relative;
    margin-left: 400px;
}
.numbers a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;

    margin-right: 16px;
}
.numbers :hover {
    background-color: #7fad39;
    color: #4e4e4e;
    transition: all 0.5s ease;
}
.numbers hr {
    width: 800px; 
    color: #c4c4c4;
    margin-bottom: 20px;
    
}




    



